/* Component Accueil */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

position: relative;
width: 1920px;
height: 2014.2px;
left: calc(50% - 1920px/2 - 6294px);
top: calc(50% - 2014.2px/2 - 757.9px);

background: #FFFFFF;


/* component navbar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1920px;
height: 100px;

/* menu&footer background */
nav{background-color: #CF2E2E;
}
footer{background-color: #CF2E2E;
}

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* LabISEN 1 */
#labisen1{
width: 214.05px;
height: 100px;

background: url(LabISEN.png);
}

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1705.95px;
height: 100px;

background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Accueil */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Recherche */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Membres */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Projets */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Publications */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Partenaires */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* Infos et contact */

width: 243.71px;
height: 100px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* text */

position: absolute;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 + 0.5px);

/* Navbar (Desktop)

Navbar texts for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;



/* description de l'équipe */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 20px;
gap: 10px;

width: 1920px;
height: 136px;

background: #FFFFFF;
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* titre de section (H2) */

width: 1880px;
height: 30px;

/* H2_Desktop

Style H1 for Desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 650;
font-size: 22.13px;
line-height: 30px;
letter-spacing: 0.03em;

/* Title color */
color: #000000;
font-stretch: 100;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* description */

width: 1880px;
height: 44px;

/* paragraph (Desktop)

paragraph style for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.01em;

/* Text color */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* lien axes de recherche */

width: 1880px;
height: 22px;

/* Link_Desktop

link in paragraph for Desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.01em;
text-decoration-line: underline;

/* Links color */
color: #811C1C;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* compétences */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 20px;
gap: 10px;

width: 1920px;
height: 1215.2px;

background: #FFFFFF;
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* titre de section (H2) */

width: 1880px;
height: 30px;

/* H2_Desktop

Style H1 for Desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 650;
font-size: 22.13px;
line-height: 30px;
letter-spacing: 0.03em;

/* Title color */
color: #000000;
font-stretch: 100;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* compétences de l'équipe (Locked Aspect Ratio) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 1880px;
height: 1175.2px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* compétences de l'équipe */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0.04px;

background: url(competences.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* - */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1880px;
height: 0px;

transform: rotate(-38.69deg);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Fil d'actualités */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 1920px;
height: 166px;

background: #FFFFFF;
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* titre de section (H2) */

width: 1900px;
height: 30px;

/* H2_Desktop

Style H1 for Desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 650;
font-size: 22.13px;
line-height: 30px;
letter-spacing: 0.03em;

/* Title color */
color: #000000;
font-stretch: 100;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* actualités */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 1900px;
height: 106px;

background: #FFFFFF;
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* actualité1 */

width: 1880px;
height: 22px;

/* paragraph (Desktop)

paragraph style for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.01em;

/* Text color */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* actualité2 */

width: 1880px;
height: 22px;

/* paragraph (Desktop)

paragraph style for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.01em;

/* Text color */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* actualité3 */

width: 1880px;
height: 22px;

/* paragraph (Desktop)

paragraph style for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.01em;

/* Text color */
color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* component footer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1920px;
height: 357px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Coordonnées école */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;

width: 960px;
height: 357px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Coordonnées */

width: 920px;
height: 27px;

/* Footer title (Desktop)

Title of a section in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1em;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* écoles */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 920px;
height: 300px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* school ref */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 5px;

width: 920px;
height: 75px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* address */

width: 900px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* phone number */

width: 260px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* school ref */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 5px;

width: 1920px;
height: 75px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* address */

width: 1900px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* phone number */

width: 260px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* school ref */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 5px;

width: 1920px;
height: 75px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* address */

width: 1900px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* phone number */

width: 260px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* school ref */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 5px;

width: 1920px;
height: 75px;

/* menu&footer background */
background: #CF2E2E;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* address */

width: 1900px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* phone number */

width: 260px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Développeurs */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;
gap: 5px;

width: 960px;
height: 147px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Développeurs */

width: 920px;
height: 27px;

/* Footer title (Desktop)

Title of a section in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1em;
text-transform: uppercase;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Mathieu GB */

width: 920px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Erwan L */

width: 920px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Alexis RS */

width: 920px;
height: 25px;

/* Footer line (Desktop)

non title text in footer for desktop
*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-indent: 40px;

/* Menu&footer text color */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
