.accueil-desc p, .accueil-desc a{
    margin-left: 1rem;
}

.accueil-link:link {
    color: #CF2E2E;
}

.accueil-link:visited {
    color: #AF2828;
}

#accueil-competences {
    width: 50%;
    align-self: center;
}

#accueil-section-competences {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */     /*Utile si on veut suivre la position de la souris*/
}