nav ul {background-color: #CF2E2E;
    list-style: none;
    list-style-type: #FFFFFFFF;

}

#labisen{width: 5px;
    height: auto;
    }


footer{background-color: #CF2E2E;
    color: rgb(185, 174, 174);}