/* Global */

html {
    font-family: "Open Sans", Georgia;
}

body {
    margin: 0rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.2rem;
}

p, a, .text-element {
    font-size: 0.8rem;
}

#content {
    padding: 0.625rem; 
    gap: 1.875rem; 
}

/* Navbar */

nav a {
    text-decoration: none;
}

.red-background {
    background-color: #CF2E2E;
}

.navbar {
    display: flex;
    align-items: flex-start;
    align-self: stretch; 
}

.navbar-logo, .navbar-logo img {
    width: 1fr;
    height: 6.25rem; 
}

.navbar-menu {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0; 
}

.submenu-container {
    display: inline-flex;
    width: 1fr;
    height: 6.25rem;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar-menu-item {
    display: flex;
    width: 1fr;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.navbar-menu-item:active, .navbar-submenu-item:active {
    background-color: #AF2828;
}

.navbar-menu-item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch; 

    text-align: center; 
    color: white;

    /*Navbar menu font*/
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
}

.navbar-submenu-item {
    display: flex;
    width: 15rem;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-submenu-item p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch; 

    text-align: center;
    color: white;

    /* Navbar submenu font*/
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
}

.submenu-container .submenu-out-of-bound {
    display: none;
}

.submenu-container:hover .submenu-out-of-bound {
    display: block;
    position:absolute;
    width: 100%;
    z-index: 1000;
}

/* Footer */

footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch; 
}

#footer-coordonnees, #footer-developers {
    display: flex;
    padding: 0.9375rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0; 
}

#footer-developers {
    gap: 0.3125rem; 
}

#footer-ecoles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch; 
}

footer h3 {
    align-self: stretch; 
    color: white;

    /* Footer title font */
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase; 
}

/* all text in footer (except titles) */
.footer-address, .footer-phone, .footer-developer {
    align-self: stretch; 
    color: white;

    /* Footer line font */
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.footer-developer {
    text-decoration: none;
}

.align-line {
    display: flex;
    justify-content: space-between;
}

/* ------- CLOCK ------- */

.segment0 { left: 10px; top: 2.5px; width: 30px; height: 0px; }
.segment1 { left: 2.5px; top: 10px; width: 0px; height: 30px; }
.segment2 { left: 47.5px; top: 10px; width: 0px; height: 30px; }
.segment3 { left: 10px; top: 47.5px; width: 30px; height: 0px; }
.segment4 { left: 2.5px; top: 55px; width: 0px; height: 30px; }
.segment5 { left: 47.5px; top: 55px; width: 0px; height: 30px; }
.segment6 { left: 10px; top: 92.5px; width: 30px; height: 0px; }

.led {
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    height : 5px;
    width : 5px;
    background: rgb(255, 34, 34);

}

.segment {
    position: absolute;
    border-radius: 5px;
    border: 4px solid rgb(252, 34, 34);
    transition: all 0.2s linear;
}

.shiftedClock{
    position: absolute;
    top:150px;
    left:50px;
}

.clock > div {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 100px;
}

.clock > .colon {
    font-size: 50px;
    height: 75px;
    width: 20px;
    top: -37px;
    color: rgb(255, 34, 34);
    text-align: center;
}

.segmentOff {
    transition: all 0.2s linear;
    opacity: 0.2;
}

/*js loader*/

#loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999; /* Au-dessus de tout le reste */
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3; /* Gris clair */
    border-top: 4px solid #3498db; /* Bleu */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation de rotation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*js background navbar*/
.navbar-menu-item.active {
    background-color: darkred; 
    color: white; 
}
.navbar-submenu-item.active {
    background-color: darkred; 
    color: white; 
}