#contact-form {
    display: flex;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch; 
}

#contact-name, #contact-mail {
    display: flex;
    align-items: flex-start;
    align-self: stretch; 
}

.contact-icon {
    width: 3.4375rem;
    height: 3.125rem; 
    stroke: black;
    stroke-width: 0.063rem; 
    height: 100%;
}


#contact-name-field, #contact-email-field {
    display: flex;
    padding: 0rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    height: 3.125rem; 
}

#contact-comment {
    width: 100%;
    resize: none;
}

#contact-submit-button {
    padding: 0.625rem;
    border-radius: 10% / 20%;
    align-self: flex-end;
}

.text{
    text-align: center;
}

.errorAlert{
    background-color: rgb(255, 110, 110);
}