/* Global */

html {
    font-family: "Open Sans", Georgia;
}

body {
    margin: 0px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.2rem;
}

p, a, .text-element{
    font-size: 0.8rem;
}

#content {
    padding: 0.625rem; 
    gap: 1.875rem; 
}

/* Navbar */

nav a {
    text-decoration: none;
}

.red-background {
    background-color: #CF2E2E;
}

.navbar {
    display: flex;
    align-items: flex-start;
    align-self: stretch; 
}

.navbar-logo, .navbar-logo img {
    width: 1fr;
    height: 6.25rem; 
}

.navbar-menu {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0; 
}

.submenu-container {
    display: inline-flex;
    width: 1fr;
    height: 6.25rem;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar-menu-item {
    display: flex;
    width: 1fr;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.navbar-menu-item:active, .navbar-submenu-item:active {
    background-color: #AF2828;
}

.navbar-menu-item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch; 

    text-align: center; 
    color: white;

    /*Navbar menu font*/
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
}

.navbar-submenu-item {
    display: flex;
    width: 15rem;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-submenu-item p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch; 

    text-align: center;
    color: white;

    /* Navbar submenu font*/
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
}

.submenu-container .submenu-out-of-bound {
    display: none;
}

.submenu-container:hover .submenu-out-of-bound {
    display: block;
    position:absolute;
    width: 100%;
    z-index: 1000;
}

/* Footer */

footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch; 
}

#footer-coordonnees, #footer-developers {
    display: flex;
    padding: 0.9375rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0; 
}

#footer-developers {
    gap: 0.3125rem; 
}

#footer-ecoles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch; 
}

footer h3 {
    align-self: stretch; 
    color: white;

    /* Footer title font */
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase; 
}

/* all text in footer (except titles) */
.footer-address, .footer-phone, .footer-developer {
    align-self: stretch; 
    color: white;

    /* Footer line font */
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.footer-developer {
    text-decoration: none;
}