.plateforme-image {
    width:25%;
}

#platformes{
    display: flex;
    padding: 0.625rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch; 
}

.plateforme {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.plateform-text-container {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0; 
}

#content > p {
    margin-left: 1rem;
}