.projets{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 0.625rem; 
}

.etat-projets{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem; 
}

.project{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 0.625rem; 
}

.project-info{
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch; 
    width: 2fr;
}

.project-info-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    flex: 1 0 0;
    align-self: stretch; 
}

.project-info-bot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    align-self: stretch; 
}

.project-image{
    width: 25%;
    flex-shrink: 0;
    align-self: center;
}

hr {
    width: 96%;
}

/*js button fleche*/
.scroll-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#scrollToTopBtn {
    display: none; /* Masquer le bouton par défaut */
    margin: 0 auto; /* Centrer le bouton horizontalement */
    font-size: 18px; /* Taille du texte */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour */
    background-color: #555; /* Couleur de fond */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur en forme de main */
    padding: 15px; /* Espacement intérieur */
    border-radius: 10px; /* Bordures arrondies */
}

#scrollToTopBtn:hover {
    background-color: #b61010; /* Changer la couleur au survol */
}
