.projets{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 0.625rem; 
}

.etat-projets{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem; 
}

.project{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 0.625rem; 
}

.project-info{
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch; 
    width: 2fr;
}

.project-info-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    flex: 1 0 0;
    align-self: stretch; 
}

.project-info-bot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    align-self: stretch; 
}

.project-image{
    width: 25%;
    flex-shrink: 0;
    align-self: center;
}

hr {
    width: 96%;
}

/*js button fleche*/
#btnRemonter {
    width: 40px;
    height: 40px; 
    background-color: #007bff; 
    border: none; 
    border-radius: 50%; 
    color: white; 
    font-size: 24px; 
    cursor: pointer;
}

/* Style pour la flèche vers le haut */
.fleche-vers-haut::before {
    content: '\25B2'; 
}
